#Python libraries:

descartes 1.1.0
itertools
IPython.display 7.6.1
matplotlib.pyplot 3.1.0
networkx 2.3
numpy 1.16.4
os
plotly.graph_objs 3.10.0 
plotly.plotly 3.10.0 
plotly.offline 3.10.0 
random
shapely.geometry 1.6.4
shapely.ops 1.6.4
shapely.affinity 1.6.4
sys


#Custom classes:

Hierarchy_tree.py   #Found here: https://github.com/jhmanchola/Learning-curve/blob/master/Probability-MIT-6.431x/Custom%20Classes/Hierarchy_tree.py

Probability_Sets.py   #Found here: https://github.com/jhmanchola/Learning-curve/blob/master/Probability-MIT-6.431x/Custom%20Classes/Probability_Sets.py

System_Layout.py    #Found here: https://github.com/jhmanchola/Learning-curve/blob/master/Probability-MIT-6.431x/Custom%20Classes/System_Layout.py
